.App{
  background-image: url("../media/maxresdefault.9b9bb21b9bb3d9db50e0.jpg");
  background-repeat: no-repeat;
  height: 100svh;
  width: 100svw;
  background-size: cover;
  background-position: center;
}
.App::after{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  box-shadow: 0px 0px 100px 40px white;
}
.width{

  background-color: transparent;
  width: 100%;
  min-height: 50%;
  max-height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}