.menu-container {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media(max-width:889px){
  #search-input{
    display: none;
  }
  .search-icon{
    display: none;
  }

}
@media (max-width: 768px) {
  .menu-container {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 1;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu nav {
    width: 100%;
  }

  .menu li {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu a {
    font-size: 20px;
    font-weight: bold;
  }

  .menu p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5%;
  }

  .menu p:hover {
    cursor: pointer;
  }
}