.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  backdrop-filter: blur(2px);
}

a{
  text-decoration: none;
}

ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}


img{
  padding: 10px;
}
li{
  display: inline;
  margin-right: 70px;
  font-size: 20px;
  font-weight: bold;
}
button{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: black solid 2px;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 1px 1px 19px 5px rgba(0, 0, 0, 0.705);
  opacity: 0.8;
  transition: opacity 0.1s ease-in , box-shadow 0.1s ease-in-out;
}
button:hover{
  opacity: 1;
}
button:active{
  box-shadow: 0px 0px 0px 0px ,
    inset 1px 1px 10px 1px rgba(0, 0, 0, 0.705);
}

li a{
  color: rgba(24, 23, 23, 0.938);
}
.nav li a::after{
  content: "";
  position: absolute;
  top: 85px;
  left: var(--after-margin-right);
  background-color: aqua;
  border-radius: 9px;
  width: 0px;
  height: 6px;
  transition: width 0.2s ease-in-out;
}
.nav li a:hover::after{
  width: var(--content-width);
}