:root {
  --primary-color: darkorchid;
  --font-size-large: 20px;
  --font-size-medium: 18px;
  --padding-small: 10px;
  --padding-medium: 15px;
  --border-radius-small: 6px;
  --border-radius-medium: 10px;
  --box-shadow: 0px 0px 20px 1px black;
}

.register-container {
  justify-content: center;
  padding-top: 20px;
}

.register-container ul {
  list-style: none;
}

li {
  margin-top: 40px;
}

.li-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: var(--font-size-large);
  font-weight: bold;
  position: absolute;
  transform: translateY(10px);
  padding-left: 20px;
  transition: transform 0.2s ease-in-out;
}

input {
  padding: var(--padding-small) 0 var(--padding-small) var(--padding-small);
  font-size: var(--font-size-large);
  font-weight: bold;
  border: none;
  border-bottom: black solid 3px;
  background-color: transparent;
  border-radius: var(--border-radius-medium);
  outline: none;
  box-shadow: var(--box-shadow);
  width: 100%;
}

button {
  padding: var(--padding-medium) 17px;
  border: var(--primary-color) solid 2px;
  border-radius: var(--border-radius-small);
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 1px 1px 10px 1px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  margin-bottom: 10px;
}

button:hover {
  opacity: 1;
}

button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.7;
}

button:active:disabled,
button:hover:disabled {
  box-shadow: none;
  opacity: 0.7;
}

p {
  font-size: var(--font-size-medium);
}

.login-span {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}