.register-container ul{
  list-style: none;
}
label{
  font-size: 20px;
  font-weight: bold;
}
input{
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-bottom: black solid 3px;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 20px 1px black;
  backdrop-filter: blur(5px);
  margin-top: 35px;
}