:root {
  --primary-color: blueviolet;
  --background-color: rgba(255, 255, 255, 0.5);
  --text-color: black;
  --highlight-color: white;
}

.sign-up-container {
  z-index: 1050;
  overflow: auto;
  border: 2px solid black;
  border-radius: 13px;
  width: min(430px, 100%);
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
}

.sign-up-container div {
  display: flex;
}

.close-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  border-radius: 10px 0 10px 0;
  background-color: var(--primary-color);
}

.close {
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: var(--highlight-color);
}

.register-span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.register-span p {
  color: var(--text-color);
  font-size: x-large;
  font-weight: 600;
}